@import url("./components/profile/profile.module.css");
@import url("./components/friends-list/friends-list.css");
@import url("./components/history-tr/history-tr.css");

body {
  font-family: "DM Sans", sans-serif;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
