td,
th {
  border: 1px solid #111;
}

tr:nth-child(even) {
  background-color: #d0d0d0;
}

.table-transactio {
  text-align: center;
  border-collapse: collapse;
  width: 550px;
  margin-bottom: 50px;
}

.table-name {
  color: #fff;
  background-color: #363637;
}
